// main
$main-white: #F6FFFC;
$text-white: #333;
$back-white: #fff;
$back-qs-white: #fff;
$text-gl-white: #13C087;
$text-qs-white: #999999;
$text-qqs-white: #666666;

// navbar and nav-tab
$nav-bar-rgba-white: rgba(19,192,135,0.15);
$nav-tab-ac-white: #333;
