// main
$main-hock: #101916;
$text-hock: #fff;
$back-hock: #010D08;
$back-qs-hock: #101A17;
$text-gl-hock: #13C087;
$text-qs-hock: #F5F5F5;
$text-qqs-hock: #CCCCCC;
$text-666-hock: #666666;
$text-999-hock: #999999;

// navbar and nav-tab
$nav-bar-rgba-hock: rgba(19,192,135,0.03);
$nav-tab-ac-hock: #CCCCCC;

// Trading
$trading-changebg-hock: #283D38;
$trading-border-hock: #27332F;

// exchange record
$ex-record-icon-hock: #D6D6D6;

// compoents
$cmp-qbg-hock: #1D2D28;
$cmp-btn-bag-hock: #7D958D;

// BPoS
$bpos-border-b-hock: #102920;
